src/main/mule/travis-ci-demo-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="15fc61f0-d7d3-4584-b613-80630b3fd199" basePath="/travis">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="travis-ci-demo-appFlow" doc:id="8477cf69-d2a5-4245-b6e7-cf9bdcbc0dc7" >
		<http:listener doc:name="Listener" doc:id="d390e675-8140-4803-986e-bdb1b923cd18" config-ref="HTTP_Listener_config" path="/invoke"/>
		<set-payload value="#['Request got completed']" doc:name="Set Payload" doc:id="abd48364-1e70-4cc4-83f7-3bdcd53c1bfd" />
	</flow>
</mule>
